{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Add sale{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<!--Select2 CSS-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">
<!--Bootstrap Touchspin-->
<link rel="stylesheet" href="{% static 'assets/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css' %}">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Add sale{% endblock heading %}

<!-- Page content  -->
{% block content %}
<!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'sales:sales_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
</div>

<div class="row mt-3">
    <div class="card col-md-12">
        <div class="card-body ml-0">
            <div class="row">
                <!--Left column-->
                <div class="col-md-9 pl-0">
                    <div class="card card-secondary">
                        <div class="card-header">Sale products</div>
                        
                        <div class="card-body">
                            <!--Search product-->
                            <div class="form-group">
                                <label>Search product:</label>
                                <div class="input-group">
                                    <select class="form-control select2" name="searchbox_products" id="searchbox_products"></select>
                                </div>
                            </div>
                            <!--End Search product-->

                            <!--Products table-->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap" id="table_products">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!--End Products table-->
                        </div>
                    </div>
                </div>
                <!--End Left column-->

                <!--Righ column-->
                <div class="col-md-3 pr-0">
                    <div class="card card-secondary">
                        <div class="card-header">Sale details</div>
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="state">Customer</label>
                                <select name="customer" class="form-control" id="searchbox_customers" required>
                                    <option value="" selected disabled hidden>Select the customer</option>
                                    {% for customer in customers %}
                                    <option value="{{customer.value}}">{{customer.label}}</option>
                                    {% endfor %}
                                </select>
                            <div class="form-group mt-4">
                                <label>Subtotal</label>
                                <div class="input-group">
                                    <input name="sub_total" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tax Inclusive (%)</label>
                                <div class="input-group">
                                    <input name="tax_percentage" class="form-control" value=0 required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tax Amount</label>
                                <div class="input-group">
                                    <input name="tax_amount" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Grand Total</label>
                                <div class="input-group">
                                    <input name="grand_total" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ammount payed</label>
                                <div class="input-group">
                                    <input name="amount_payed" class="form-control" required>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success font-weight-bold">Create sale</button>
                        </div>
                        <!--End card-body-->
                </div>
                <!--End Right column-->
            </div>
            <!--End row-->
        </div>
        <!--End card-body-->
    </div>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Select2-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
<!--Bootstrap Touchspin-->
<script src="{% static 'assets/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.js' %}"></script>

<script>
    
    $(document).ready(function() {
        //Tax percentage touchspin
        $("input[name='tax_percentage']").TouchSpin({
            min: 0,
            max: 100,
            step: 1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });


        //Select2 customers
        $('#searchbox_customers').select2({
            placeholder: "Select a customer",
            allowClear: true,
        });

        //Variable for product number in table
        var number = 1;

        //Variable to store sale details and products
        var sale = {
            items: {
                customer : "", 
                sub_total : 0.00, 
                grand_total : 0.00, 
                tax_amount : 0.00, 
                tax_percentage : 0.00, 
                amount_payed : 0.00, 
                amount_change : 0.00,
                products: [

                ]
            },
            // Adds a product to the sale object
            add_product: function (item) {
                this.items.products.push(item);
                this.list_product();
            },
            // Shows the selected product in the table
            list_product: function () {
                // Calcumos la factura
                //this.calcular_factura();

                tblProducts = $("#table_products").DataTable({
                    destroy: true,
                    data: this.items.products,
                    columns: [
                        {"data": "number"}, 
                        {"data": "name"},
                        {"data": "price"},
                        {"data": "quantity"},
                        {"data": "subtotal"},
                        {"data": "id"},
                    ],
                    columnDefs: [
                        {
                            // Quantity
                            class: 'text-center',
                            targets: [3], 
                            render: function (data, type, row){
                                return '<input name="quantity" type="text" class="form-control form-control-xs text-center" autocomplete="off" value="'+row.quantity+'">';
                            },                      
                        },
                        {
                            //Product price an total
                            class: 'text-right',
                            targets: [2,4],
                            render: function (data, type, row){
                              return data + ' $';
                            },
                        },
                        {
                            //Delete button
                            class: 'text-center',
                            targets: [-1],
                            orderable: false,
                            render: function (data, type, row){
                                return '<a rel="delete" type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Delete product"> <i class="fas fa-trash-alt fa-xs"></i> </a>';
                            },
                        },

                    ],
                    rowCallback(row, data, displayNun, displayIndex, dataIndex){
                        $(row).find(("input[name='quantity']")).TouchSpin({
                            min: 1,
                            max: 100, //Máximo de acuerdo al stock de cada producto
                            step: 1,
                            decimals: 0,
                            boostat: 1,
                            maxboostedstep: 3,
                            postfix: ''
                        });
                    },
                })
                
                // IDs de productos ya seleccionados para exlcuir en la busqueda
                //console.log("this.traer_ids()");
                //console.log(this.traer_ids());
                
            },
        }


        //Select2 products searchbox

        // Validate the csrf_token
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        // To avoid error 403 Fordbidden
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#searchbox_products').select2({
            delay: 250,
            placeholder: 'Search a product',
            minimumInputLength: 1,
            allowClear: true,
            ajax:{ 
                url: "{% url 'products:get_products' %}",
                type: 'POST',
                data: function (params) {
                var queryParameters = {
                    term: params.term,
                    //excluir_prod_seleccionados: JSON.stringify(venta.traer_ids())
                }
                return queryParameters;
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data
                    };
                },
            }
            }).on('select2:select', function (e) {
                //When a product is selected from the searchbox
                var data = e.params.data;
                //Add number, subtotal and quantity of the product to the dictionary
                data.number = number;
                number++; //Increase the product number in the table
                data.subtotal = 0;
                data.quantity = 1;
                //Add the product to the sale object
                sale.add_product(data);
                console.log("Sale items");      
                console.log(sale.items);      
                //Clean the searchbox after the product is selected
                $(this).val('').trigger('change.select2');; 
            });
    
            // Products datatable
            
            tblProducts = $('#table_products').DataTable({
                columnDefs: [
                    {
                        targets: [-1], // column index (start from 0)
                        orderable: false, // set orderable false for selected columns
                    }
                ],
            });
            

    });

</script>
{% endblock javascripts %}