{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Add sale{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<!--Select2 CSS-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">
<!--Bootstrap Touchspin-->
<link rel="stylesheet" href="{% static 'assets/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css' %}">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Add sale{% endblock heading %}

<!-- Page content  -->
{% block content %}
<!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'sales:sales_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
</div>

<!--Sale products and details-->
<form action="{% url 'sales:sales_add' %}" class="saleForm" method="post">
    <div class="row mt-3">
        <div class="card col-md-12">
            <div class="card-body ml-0">
                <div class="row">
                    <!--Left column-->
                    <div class="col-md-9 pl-0">
                        <div class="card card-secondary">
                            <div class="card-header">Sale products</div>
                            
                            <div class="card-body">
                                <!--Search product-->
                                <div class="form-group">
                                    <label>Search product:</label>
                                    <div class="input-group">
                                        <select class="form-control select2" name="searchbox_products" id="searchbox_products"></select>
                                    </div>
                                </div>
                                <!--End Search product-->

                                <!--Delete all products from sale-->
                                <button type="button" class="mb-4 btn btn-danger btn-sm deleteAll">
                                    Delete all products <i class="ml-1 fas fa-trash-alt fa-xs"></i>
                                </button>
                                <!--End Delete all products from sale-->

                                <!--Products table-->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap" id="table_products">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th class="text-center">Delete</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End Products table-->
                            </div>
                        </div>
                    </div>
                    <!--End Left column-->

                    <!--Righ column-->
                    <div class="col-md-3 pr-0">
                        <div class="card card-secondary">
                            <div class="card-header">Sale details</div>
                            <div class="card-body">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="customer">Customer</label>
                                    <select name="customer" class="form-control" id="searchbox_customers" required>
                                        <option value="" selected disabled hidden>Select the customer</option>
                                        {% for customer in customers %}
                                        <option value="{{customer.value}}">{{customer.label}}</option>
                                        {% endfor %}
                                    </select>
                                <div class="form-group mt-4">
                                    <label>Subtotal</label>
                                    <div class="input-group">
                                        <input name="sub_total" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tax Inclusive (%)</label>
                                    <div class="input-group">
                                        <input name="tax_percentage" class="form-control" value=0 required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tax Amount</label>
                                    <div class="input-group">
                                        <input name="tax_amount" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Grand Total</label>
                                    <div class="input-group">
                                        <input name="grand_total" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Amount payed</label>
                                    <div class="input-group">
                                        <input name="amount_payed" class="form-control" required>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success font-weight-bold">Create sale</button>
                            </div>
                            <!--End card-body-->
                    </div>
                    <!--End Right column-->
                </div>
                <!--End row-->
            </div>
            <!--End card-body-->
        </div>

    </div>
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Select2-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
<!--Bootstrap Touchspin-->
<script src="{% static 'assets/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.js' %}"></script>
<!--Sweet Alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.all.min.js"></script>

<script>
    // Source: https://stackoverflow.com/a/32605063
    function roundTo(n, digits) {
        if (digits === undefined) {
            digits = 0;
        }

        var multiplicator = Math.pow(10, digits);
        n = parseFloat((n * multiplicator).toFixed(11));
        return Math.round(n) / multiplicator;
    }

    //Variable for product number in table
    var number = 1;

    //Variable to store sale details and products
    var sale = {
        items: {
            customer : 0, 
            sub_total : 0.00, 
            grand_total : 0.00, 
            tax_amount : 0.00, 
            tax_percentage : 0.00, 
            amount_payed : 0.00, 
            amount_change : 0.00,
            products: [

            ]
        },
        calculate_sale: function (){
            // Subtotal of all products added
            var sub_total = 0.00

            var tax_percentage = $('input[name="tax_percentage"]').val();

            // Calculates the total for each product
            $.each(this.items.products, function(pos, dict){
                dict.pos = pos;  
                dict.total_product = roundTo(dict.quantity * dict.price, 2);
                // Add the product total to the sale subtotal
                sub_total += roundTo(dict.total_product, 2);
            });

            //Update the sale subtotal, grand total, and tax amount
            this.items.sub_total = roundTo(sub_total, 2);
            this.items.grand_total = roundTo(this.items.sub_total, 2);
            this.items.tax_amount = roundTo(this.items.sub_total * (tax_percentage / 100), 2);
    
            $('input[name="sub_total"]').val(this.items.sub_total);
            $('input[name="tax_amount"]').val(this.items.tax_amount);
            $('input[name="grand_total"]').val(this.items.grand_total);
        },
        // Adds a product to the sale object
        add_product: function (item) {
            this.items.products.push(item);
            this.list_product();
        },
        // Shows the selected product in the table
        list_product: function () {
            // Calculate the sale 
            this.calculate_sale();

            tblProducts = $("#table_products").DataTable({
                destroy: true,
                data: this.items.products,
                columns: [
                    {"data": "number"}, 
                    {"data": "name"},
                    {"data": "price"},
                    {"data": "quantity"},
                    {"data": "total_product"},
                    {"data": "id"},
                ],
                columnDefs: [
                    {
                        // Quantity
                        class: 'text-center',
                        targets: [3], 
                        render: function (data, type, row){
                            return '<input name="quantity" type="text" class="form-control form-control-xs text-center input-sm" autocomplete="off" value="'+row.quantity+'">';
                        },                      
                    },
                    {
                        //Product price an total
                        class: 'text-right',
                        targets: [2,4],
                        render: function (data, type, row){
                            return parseFloat(data).toFixed(2) + ' $';
                        },
                    },
                    {
                        //Delete button
                        class: 'text-center',
                        targets: [-1],
                        orderable: false,
                        render: function (data, type, row){
                            return '<a rel="delete" type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Delete product"> <i class="fas fa-trash-alt fa-xs"></i> </a>';
                        },
                    },

                ],
                rowCallback(row, data, displayNun, displayIndex, dataIndex){
                    $(row).find(("input[name='quantity']")).TouchSpin({
                        min: 1,
                        max: 100, //Máximo de acuerdo al stock de cada producto
                        step: 1,
                        decimals: 0,
                        boostat: 1,
                        maxboostedstep: 3,
                        postfix: ''
                    });
                },
            })
            
            // IDs de productos ya seleccionados para exlcuir en la busqueda
            //console.log("this.traer_ids()");
            //console.log(this.traer_ids());
            
        },
    };

    $(document).ready(function() {

        //Tax percentage touchspin
        $("input[name='tax_percentage']").TouchSpin({
            min: 0,
            max: 100,
            step: 1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        }).on('change', function(){
            sale.calculate_sale();
        });


        //Select2 customers
        $('#searchbox_customers').select2({
            placeholder: "Select a customer",
            allowClear: true,
        });

        // Tables Events
        $('#table_products tbody').on('click', 'a[rel="delete"]', function () {
                // When a product is deleted
                
                // Row variable of the table
                var tr = tblProducts.cell($(this).closest('td, li')).index();
                product_name = (tblProducts.row(tr.row).data().name)

                Swal.fire({
                    customClass: {
                        confirmButton: 'ml-3 btn btn-danger',
                        cancelButton: 'btn btn-info'
                    },
                    buttonsStyling: false,
                    title: "Are you sure you want to delete this product from the sale?",
                    text: product_name,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    cancelButtonText: 'Cancel',
                    reverseButtons: true,

                }).then((result) => {
                    // Si se confirma
                    if (result.isConfirmed) {
                        
                        // Delete the product
                        sale.items.products.splice(tr.row, 1);
                        //List the table again
                        sale.list_product();
                        Swal.fire('The product was eliminated!', '', 'success')
                    };
                })



            }).on('change keyup', 'input[name="quantity"]', function(){
                // When a product changes is quantity
                var quantity = parseInt($(this).val());
                //console.log(quantity);
                // Row variable of the table
                var tr = tblProducts.cell($(this).closest('td, li')).index();
                console.log(tr);
                //var data = tblProductos.row(tr.row).node();
                //console.log(data);
                // Update the product quantity in the sale object
                sale.items.products[tr.row].quantity = quantity;
                console.log(sale.items.products);
                // Calculate the sale with the new quantity
                sale.calculate_sale();
                // Find the row to update the product total
                $('td:eq(4)', tblProducts.row(tr.row).node()).html(sale.items.products[tr.row].total_product + ' $');
        });

        // Delete all products
        $('.deleteAll').on('click', function(){
            // If there are no products doesn't do anything
            if(sale.items.products.length === 0 ) return false;
            // Alert the user
            Swal.fire({
                customClass: {
                    confirmButton: 'ml-3 btn btn-danger',
                    cancelButton: 'btn btn-info'
                },
                buttonsStyling: false,
                title: "Are you sure you want to delete all products from the sale?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete all',
                cancelButtonText: 'Cancel',
                reverseButtons: true,

            }).then((result) => {
                // Si se confirma
                if (result.isConfirmed) {
                    // Borramos todos los productos del objeto de venta
                    sale.items.products = [];
                    // Calculamos de vuelta la factura
                    sale.list_product();
                    Swal.fire('All products were eliminated!', '', 'success')
                };
            })
        });

        //Select2 products searchbox
        // Validate the csrf_token
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        // To avoid error 403 Fordbidden
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#searchbox_products').select2({
            delay: 250,
            placeholder: 'Search a product',
            minimumInputLength: 1,
            allowClear: true,
            templateResult: template_product_searchbox,
            ajax:{ 
                url: "{% url 'products:get_products' %}",
                type: 'POST',
                data: function (params) {
                var queryParameters = {
                    term: params.term,
                    //excluir_prod_seleccionados: JSON.stringify(venta.traer_ids())
                }
                return queryParameters;
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data
                    };
                },
            }
            }).on('select2:select', function (e) {
                //When a product is selected from the searchbox
                var data = e.params.data;
                //Add number, subtotal and quantity of the product to the dictionary
                data.number = number;
                number++; //Increase the product number in the table
                //data.sub_total = 0;
                //data.quantity = 1;
                //Add the product to the sale object
                sale.add_product(data);
                console.log("Sale items");      
                console.log(sale.items);      
                //Clean the searchbox after the product is selected
                $(this).val('').trigger('change.select2');; 
            });
    
            // Products datatable
            
            tblProducts = $('#table_products').DataTable({
                columnDefs: [
                    {
                        targets: [-1], // column index (start from 0)
                        orderable: false, // set orderable false for selected columns
                    }
                ],
            });
            

        });

        // Product searchbox templateResult
        function template_product_searchbox(repo) {
            if (repo.loading) {
                return repo.text;
            }
        
            var option = $(
                '<div class="wrapper container">'+
                ' <div class="row">' +
                    '<div class="col-lg-11 text-left shadow-sm">' +
                      //'<br>' +
                      '<p style="margin-bottom: 5px;">' +
                      '<b>Name:</b> ' + repo.text + " | Category: " + "<span class='btn-info px-2'>" + repo.category + '</span> <br>' +
                      '<b>Price:</b> <span class="btn-success px-2">'+repo.price+' $. </span>'+
                      '</p>' +
                    '</div>' +
                  '</div>' +
                '</div>');
        
            return option;
        }

        // Send the sale via ajax
        
        $('.saleForm').on('submit', function (e) {  
            // Only allow sending if we have at least one product
            if (sale.items.products.length === 0 ) {
                Swal.fire({
                    title: 'The sale must have at least 1 product',
                    text: 'Search a product and add it to the sale',
                    icon: 'warning',
                });
                return false;
            };
            
            // Only allow sending if the paid amount is equal or greater than the total
            if ($('[name="amount_payed"]').val() < $('[name="grand_total"]').val()) {
                Swal.fire({
                    title: 'Payable Amount is lower than the Grand Total',
                    icon: 'warning',
                });
                return false;
            }

            // Agregamos los datos faltantes al objeto sales
            sale.items.customer = $('select[name="customer"]').val();
            console.log("Customer: " + sale.items.customer)
            sale.items.sub_total = $('input[name="sub_total"]').val(); 
            sale.items.grand_total = $('input[name="grand_total"]').val();
            sale.items.tax_amount = $('input[name="tax_amount"]').val(); 
            sale.items.tax_percentage = $('input[name="tax_percentage"]').val();
            sale.items.amount_payed = $('input[name="amount_payed"]').val(); 
            sale.items.amount_change = roundTo($('input[name="amount_payed"]').val() - $('input[name="grand_total"]').val(), 2); 

            console.log("Sale:")
            console.log(sale.items)

            // Validate the csrf_token
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: "{% url 'sales:sales_add' %}",
                type: "POST",
                // We need to convert the JS object sale to string
                data: JSON.stringify(sale.items), 
                datatype: "json",
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log("Ajax OK")
                },
                error: function (error) {
                    console.log("Ajax error");
                    console.log(error);
                },
            }).done(function (data){
                console.log ("Ajax Done");
            }).fail(function (data, jqXHR, textStatus, errorThrown){
                console.log ("Ajax Fail");
                alert(textStatus + ':' + errorThrown);
            });
            
        });
        
</script>
{% endblock javascripts %}
