{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Sales{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Sales{% endblock heading %}

<!-- Page content  -->
{% block content %}

    <!--Create new sale-->
    <div class="row ml-0 mb-3">
        <a href="{% url 'sales:sales_add' %}">
            <button type="button" class="btn btn-success font-weight-bold">
                    <i class="fas fa-plus mr-2"></i>
                    Create new sale
            </button>
        </a>
    </div>

    <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:5%">#</th>
                            <th style="width:15%">ID</th>
                            <th style="width:25%">Date</th>
                            <th style="width:20%">Customer</th>
                            <th class="text-center" style="width:10%">Total</th>
                            <th class="text-center" style="width:5%">Items</th>
                            <th class="text-center" style="width:10%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in sales %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{s.id}}</td>
                            <td>{{s.date_added}}</td>
                            <td>{{s.customer.get_full_name}}</td>
                            <td class="text-right" >{{s.grand_total}}</td>
                            <td class="text-center" >{{s.sum_items}}</td>
                            <td class="text-center">
                                <!--View-->
                                <a href="{% url 'sales:sales_details' s.id %}" class="text-decoration-none">
                                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="tooltip" title="Update sale">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- Datatables -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!--Datatables-->
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            tblCategories = $('#dataTable').DataTable({
                columnDefs: [
                    {
                        targets: [-1], // column index (start from 0)
                        orderable: false, // set orderable false for selected columns
                    }
                ],
            });
        });
    </script>
{% endblock javascripts %}