{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Product categories{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <!-- Datatables -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Product categories{% endblock heading %}

<!-- Page content  -->
{% block content %}

    <!--Create new category-->
    <div class="row ml-0 mb-3">
        <a href="{% url 'products:categories_add' %}">
            <button type="button" class="btn btn-success font-weight-bold">
                    <i class="fas fa-plus mr-2"></i>
                    Create new category
            </button>
        </a>
    </div>

    <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:7%">#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="text-center" style="width:15%">Status</th>
                            <th class="text-center" style="width:15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in categories %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.description}}</td>
                            {% if c.status == "ACTIVE" %}
                            <td class="text-center">
                                <span class="badge badge-success" style="font-size:0.8em;">{{c.status}}</span>
                            </td>
                            {% elif c.status == "INACTIVE" %}
                            <td class="text-center">
                                <span class="badge badge-danger" style="font-size:0.8em;">{{c.status}}</span>
                            </td>
                            {% endif %}
                            <td class="text-center">
                                <!--Update-->
                                <a href="{% url 'products:categories_update' c.id %}" class="text-decoration-none">
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" title="Update category">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </a>
                                <!--Delete modal-->
                                <!-- Button trigger modal -->
                                <a class="text-decoration-none">
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </a>
                                    
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete category</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Are you sure you want to delete the category: {{c.name}}
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'products:categories_delete' c.id %}" class="text-decoration-none">
                                            <button type="button"  class="btn btn-danger">Delete</button>
                                        </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- Datatables -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!--Datatables-->
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock javascripts %}