{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Product categories{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <!-- Datatables -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Product categories{% endblock heading %}

<!-- Page content  -->
{% block content %}

    <!--Create new category-->
    <div class="row ml-0 mb-3">
        <a href="{% url 'products:categories_add' %}">
            <button type="button" class="btn btn-primary">
                
                    <i class="fas fa-plus mr-2"></i>
                    Create new category
                
            </button>
        </a>
    </div>

    <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Cans</td>
                            <td>Cans category</td>
                            <td>Active</td>
                            <td>Update, Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- Datatables -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!--Datatables-->
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock javascripts %}