{% extends "pos/base.html" %}

<!-- Page title  -->
{% block title %}Update product{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Update product{% endblock heading %}

<!-- Page content  -->
{% block content %}
<!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'products:products_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
</div>

<div class="row">
    <div class="card col-md-8">
        <div class="card-body">
            <form action="{% url 'products:products_update' product.id %}"  method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputDescription">Name</label>
                        <input type="text" class="form-control" name="name" value="{{product.name}}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <select name="state" class="form-control" required>
                            {% for status in product_status %}
                                {% if status.0 == product.status   %}
                                <option value="{{status.0}}" selected>{{status.1}}</option>
                                {% else %}
                                <option value="{{status.0}}">{{status.1}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputDescription">Description</label>
                        <input type="text" name="description" class="form-control" value="{{product.description}}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="category">Category</label>
                        <select name="category" class="form-control" required>
                            <option value="" selected disabled hidden>Select the category</option>
                            {% for category in categories %}
                                {% if product.category.id == category.id%}
                                <option value="{{category.id}}" selected>{{category.name}}</option>
                                {% else %}
                                <option value="{{category.id}}">{{category.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputPrice">Price</label>
                        <input type="number" name="price" step="any"  class="form-control" value="{{product.price}}"  required>
                    </div>
                </div>
                

                <button type="submit" class="btn btn-success font-weight-bold">Update product</button>
               
            </form>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}