{% load static %}

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <a href="https://github.com/betofleitass/django_point_of_sale">Alberto Fleitas</a>  <strong id='year'></strong></span>
        </div>
    </div>
    <script>
        let year_el = document.getElementById('year');
        let date = new Date()
        year_el.innerText = date.getFullYear().toString();
    </script>
</footer>
